[submodule "FizzBuzzJAVA-vs"]
	path = FizzBuzzJAVA-vs
	url = https://github.com/Laboratorios-Generation-Mexico/FizzBuzzJAVA-vs.git
[submodule "Trivia"]
	path = Trivia
	url = https://github.com/Laboratorios-Generation-Mexico/Trivia.git
[submodule "CalculadoraMejorada"]
	path = CalculadoraMejorada
	url = https://github.com/Laboratorios-Generation-Mexico/CalculadoraMejorada.git
[submodule "FizzBuzz"]
	path = FizzBuzz
	url = https://github.com/Laboratorios-Generation-Mexico/FizzBuzz.git
[submodule "sd-06-1_modified-2-"]
	path = sd-06-1_modified-2-
	url = https://github.com/Laboratorios-Generation-Mexico/sd-06-1_modified-2-.git
[submodule "SD-04-1-ArraysLab-Individual-1.0-2-"]
	path = SD-04-1-ArraysLab-Individual-1.0-2-
	url = https://github.com/Laboratorios-Generation-Mexico/SD-04-1-ArraysLab-Individual-1.0-2-.git
[submodule "SD-08-1-ClassesLab-Individual-1.0-1-"]
	path = SD-08-1-ClassesLab-Individual-1.0-1-
	url = https://github.com/Laboratorios-Generation-Mexico/SD-08-1-ClassesLab-Individual-1.0-1-.git
[submodule "SD-12-1-Assessment-Individual"]
	path = SD-12-1-Assessment-Individual
	url = https://github.com/Laboratorios-Generation-Mexico/SD-12-1-Assessment-Individual.git
